DJANGO_SETTINGS_MODULE=hub20.api.settings
HUB20_BLOCKCHAIN_NETWORK_ID={{ hub20_blockchain_network_id | int }}
HUB20_BROKER_URL="{{ hub20_broker_url }}"
HUB20_CACHE_BACKEND=django_redis.cache.RedisCache
HUB20_CACHE_LOCATION="{{ hub20_cache_url }}"
HUB20_CHANNEL_LAYER_HOST=redis
HUB20_DATABASE_HOST="{{ hub20_database_host }}"
HUB20_DATABASE_PORT="{{ hub20_database_port | int }}"
HUB20_DATABASE_NAME="{{ hub20_database_name }}"
HUB20_DATABASE_USER="{{ hub20_database_user }}"
HUB20_DATABASE_PASSWORD="{{ hub20_database_password }}"
HUB20_EMAIL_MAILER_ADDRESS="{{ hub20_email_sender_address }}"
HUB20_EMAIL_BACKEND="{{ hub20_email_backend }}"
HUB20_SECRET_KEY="{{ hub20_service_secret_key }}"
HUB20_STATIC_ROOT="{{ hub20_application_static_folder_path }}"
HUB20_BLOCKCHAIN_STARTING_BLOCK="{{ hub20_blockchain_starting_block | int }}"
HUB20_TRACKED_TOKENS="{{ ','.join(hub20_tracked_tokens) }}"
WEB3_PROVIDER_URI="{{ hub20_web3_provider_uri }}"
